let mapleader = " "
set ttyfast
set scrolloff=10

" i think defaults
set linenumber
set showmode
set showcmd

set nocompatible
set ignorecase
set smartcase

" highlight searches
set hlsearch
set incsearch

" visual mode: Ctrl + c = copy to system clipboard
vnoremap <C-C> "+y

" https://stackoverflow.com/a/78982421
" let Ctrl+V paste from clipboard in insert mode
" sort of slow
inoremap <C-V> <Esc>"*pa

" leader to select tabs
map <leader>1 <Action>(GoToTab1)
map <leader>2 <Action>(GoToTab2)
map <leader>3 <Action>(GoToTab3)
map <leader>4 <Action>(GoToTab4)
map <leader>5 <Action>(GoToTab5)
map <leader>6 <Action>(GoToTab6)
map <leader>7 <Action>(GoToTab7)
map <leader>8 <Action>(GoToTab8)
map <leader>9 <Action>(GoToTab9)
map <leader>0 <Action>(GoToLastTab)

" re-impl of mini.move using editors in-built indentation mechanism
" https://github.com/echasnovski/mini.move
map <A-j> <Action>(MoveStatementDown)
map <A-k> <Action>(MoveStatementUp)
"map <A-h> <
"map <A-l> >
map <A-h> <Action>(EditorUnindentSelection)
map <A-l> <Action>(EditorIndentSelection)

" close current tab
map <leader>c <Action>(CloseContent)
map <C-p> <Action>(GotoFile)

" hover function signature
map gh <Action>(QuickJavaDoc)
map grd <Action>(GotoDeclaration)
" there is no equivalent in intellj, this does both declaration and usages
map grr <Action>(GotoDeclaration)
map gt <Action>(GotoTypeDeclaration)
map gu <Action>(GotoTest)
map <Ctrl-p> <Action>(GotoFile)
map <Alt-f> <Action>(FindInPath)
map <Alt-p> <Action>(GotoFile)

map gc <Action>(CommentByLineComment)
map gcc <Action>(CommentByLineComment)

map <leader>v :vsplit<CR>

nnoremap <leader>cf :action ReformatCode<CR>

nmap <Leader>rf :action Refactorings.QuickListPopupAction<CR>
nmap <Leader>rt :action RunClass<CR>

nmap <Leader>fb :action RecentFiles<CR>

" clear highlights on search when pressing enter
nnoremap <Esc> :nohlsearch<CR>

" file browser
set nerdtree
map \\ :NERDTreeToggle<CR>

" make yank highlighted
Plug 'machakann/vim-highlightedyank'
