# vi: ft=sh

export QT_QPA_PLATFORMTHEME=qt5ct
export STEAM_FRAME_FORCE_CLOSE=1
export BROWSER=firefox
export DA_TEST_DISABLE_TELEMETRY=1
export UNA_CONTAINER_NO_SSH=1

# just to not break stuff
if [[ "$(hostname)" == "sandcastle" ]]; then
    export __GL_SYNC_TO_VBLANK=1
    export __GL_SYNC_DISPLAY_DEVICE=DP-2
    export VDPAU_NVIDIA_SYNC_DISPLAY_DEVICE=DP-2
    x11vnc -display :0 -usepw -forever -bg
else
    # TODO
    # not very portable
    export LIBVA_DRIVER_NAME=iHD
fi

/usr/lib/polkit-kde-authentication-agent-1 &
xset r on
xset r rate 200 35
