# vi: ft=sh

# caps to esc
xmodmap -e "clear lock"
xmodmap -e "keycode 66 = Escape NoSymbol Escape"

# just to not break stuff
if [[ "$(hostname)" == "sandcastle" ]]; then
    export __GL_SYNC_TO_VBLANK=1
    export CLUTTER_DEFAULT_FPS=240
    local dp_device hdmi_device
    dp_device="$(xrandr | grep -E 'DP-[0-9]+ connected' | cut -f1 -d ' ')"
    hdmi_device="$(xrandr | grep -E 'HDMI-[0-9]+ connected' | cut -f1 -d ' ')"
    # turn em all off
    xrandr --output HDMI-0 --off --output DP-0 --off --output DP-1 --off --output HDMI-1 --off --output DP-2 --off --output DP-3 --off --output HDMI-1-3 --off --output DP-1-3 --off --output DP-1-4 --off --output DP-1-5 --off
    # just now turn them on properly
    xrandr --output "$hdmi_device" --mode 1920x1080 --pos 0x0 --rotate normal --output "$dp_device" --primary --mode 1920x1080 --pos 1928x0 --rotate normal --rate 240
    export __GL_SYNC_DISPLAY_DEVICE="$dp_device"
    export VDPAU_NVIDIA_SYNC_DISPLAY_DEVICE="$dp_device"
    x11vnc -display :0 -usepw -forever -bg
else
    # TODO
    # not very portable
    :
fi

xset r on
xset r rate 200 45
